.gradient{
    -fx-background-color: linear-gradient(to bottom right, #d3dc53, #5e80d7);
}

.head-label{
    -fx-border-color: #5e80d7;
    -fx-border-width: 0 0 0 10px;
    -fx-padding: 0 0 0 10px;
}
.login{
    -fx-background-color:#118145;
}