.hbox-style {
    -fx-background-color: #F2F1EB;
}

.your-class {
    -fx-background-color: radial-gradient(
        center 50% 50%, 
        radius 100%, 
        rgba(121, 134, 69, 0.3) 10%, /* Màu rất nhạt ở giữa */
        rgba(121, 134, 69, 0.1) 50%, /* Nhạt hơn khi ra ngoài */
        #F2F1EB 100%                /* Hòa vào màu nền */
    );
    -fx-background-radius: 10px; /* Bo góc */
}

.hboxxx-style {
    -fx-background-color: #61764B;
}
